server {
  server_name _;
  listen {{ dork_ports['phpmyadmin'] }};
  root /opt/phpmyadmin;
  error_log /var/log/nginx/error.log;

  location / {
    try_files $uri @rewrite;
  }

  location @rewrite {
    rewrite ^\/(.*)$ /index.php?q=$1;
  }

  location ~ \.php$ {
    include php.conf;
  }
}
